* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #22287c;
    --espaco: 20px;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

.header-top {
    padding: 20px 0;
    gap: 20px;
    background-color: var(--main-color);
}

h1 {
    color: #fff;
    text-shadow: 1px 1px #000;
}


.header-botton .navbar-nav {
    width: 100%;
    gap: 50px;
    padding: 10px;
}

.header-botton li a {
    text-decoration: none;
    color: #000;
}

.header-botton li {
    list-style-type: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px #0002;
    transition: 0.5s;
}

.header-botton li:hover {
    scale: 1.1;
    border-bottom: 0.5px solid #000;
}

.container-main img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer {
    padding: 15px 0;
    color: #fff;
    background-color: var(--main-color);
}

.title-social, .container-ramos .title {
    text-align: center;
}


.footer-top .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 15px;
}

.developed {
    margin-top: 20px;
    text-align: center;
}

.ramos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 0;
    gap: 40px;
}

.nome-ramo {
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}

.container-ramos .title {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    border-bottom: 1px solid #000;
    width: max-content;
    margin: 0 auto;
    margin-top: var(--espaco)
}

/* container infos */
.container-noticias .infos {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 20px; 
}

.info-title {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    border-bottom: 1px solid #000;
    width: max-content;
    margin: 0 auto;
    margin-top: var(--espaco)
}


.info {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}


.info img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}


.noticia p {
    margin: 0;
}

/* container descrição */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os parágrafos */
.container p {
    margin-bottom: 15px;
    line-height: 1.6;
}

#leiaMais {
    margin: 0 auto;
}

/* Estilo para o contêiner principal */
.container-wrapper {
    position: relative;
}

/* Estilo para o contêiner de descrição */
.container.description {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Estilo para o botão "Leia mais" */
#leiaMais {
    position: absolute;
    bottom: -15px; /* Distância do botão ao fundo do contêiner de descrição */
    right: 39em; /* Distância do botão à borda direita do contêiner de descrição */
    padding: 10px 15px;
    background: none;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    text-align: right;
    margin-top: 10px; /* Distância entre o contêiner de descrição e o contêiner do botão */
}